<!--<!DOCTYPE HTML>-->
<html lang="en">

<body>
<a href="/article">Please, upload article on this page</a>
<div>Articles list</div>
{{#articles}}
    <div>
        <h1>{{articleHeader}}</h1>
        <span>{{articleText}}</span>
    </div>
{{/articles}}
</body>
</html>